@{
    ViewData["Title"] = "Home";
}

    <div class="d-flex justify-content-center align-content-center align-items-center">
        <img class="img-fluid" src="~/images/PlataformaXField.png" />
    </div>
