@model TecnicoViewModel;

@{ ViewData["Title"] = "Cadastrar Novo Técnico"; }

<form id="form" asp-action="Create" enctype="multipart/form-data" novalidate>
    <div class="row align-items-center justify-content-center">
        <div class="col-12">
            <vc:summary></vc:summary>
        </div>
        <div class="col-xl-6 col-lg-8">
            <fieldset class="form">
                <legend class="FundoDestaque">Dados Pessoais</legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Nome" class="control-label"></label>
                        <input autofocus asp-for="Nome" class="form-control" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required type="email" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Usuario" class="control-label"></label>
                        <input asp-for="Usuario" class="form-control" required />
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control telefone" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Senha" class=" control-label"></label>
                        <input asp-for="Senha" class="form-control" required type="password" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ConfirmaSenha" class="control-label"></label>
                        <input asp-for="ConfirmaSenha" class="form-control" required type="password" />
                    </div>
                </div>               
            </fieldset>
        </div>
        <div class="col-lg-4">
            <fieldset class="form">
                <legend class="FundoDestaque">Dados da Licença</legend>
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label asp-for="QtdeLicenca" class="control-label"></label>
                        <input asp-for="QtdeLicenca" class="form-control inteiro" required />
                    </div>
                    <div class="form-group col-lg-6">
                        <label asp-for="DataAquisicao" class="control-label"></label>
                        <input asp-for="DataAquisicao" type="text" class="form-control data" required />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Salvar</button>
        <a asp-action="Index" class="btn btn-info"><i class="fa fa-times"></i>&nbsp;Voltar</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#form').SubmitForm();
        });
    </script>
}
