@model PlataformaWeb.Business.DTO.MorteAnimalDTO;
@using PlataformaWeb.WebApp.Extensions;
@{ ViewData["Title"] = "Confirma a exclusão?"; }

<style>
    select[readonly] {
        background: #eee;
        pointer-events: none;
        touch-action: none;
    }
</style>

<form id="form" asp-action="Delete" enctype="multipart/form-data" novalidate>
    <div class="row align-items-center justify-content-center">
        <div class="col-xl-7 col-lg-10">
            <vc:summary></vc:summary>
        </div>
        <div class="col-xl-7 col-lg-10">
            <fieldset class="form h-100">
                <legend class="FundoDestaque">Dados do Lançamento</legend>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="DataMorte" class="control-label">Data da Morte</label>
                        <input asp-for="DataMorte" type="text" class="form-control" asp-format="{0:dd/MM/yyyy}" readonly />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="LocalOrigem" class=" control-label">Local de Origem</label>
                        <input asp-for="LocalOrigem" class="form-control LetraFormulario" readonly />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="QuantidadeAnimais" class=" control-label">Qtde. Animais</label>
                        <input asp-for="QuantidadeAnimais" class="form-control LetraFormulario" readonly />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="CausaMorte" class=" control-label"></label>
                        <input asp-for="CausaMorte" class="form-control LetraFormulario" readonly />
                    </div>
                </div>                
            </fieldset>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="btn_deletar" autofocus type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Remover</button>
        <a asp-action="Index" class="btn btn-info"><i class="fa fa-times"></i>&nbsp;Voltar</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', '#btn_deletar', function (e) {
                e.preventDefault();
                MostraAlertaConfirma("A exclusão do lançamento fará com que todos os animais voltem sejam retornado para o lote de origem. Confirma operação?",
                    "Atenção", TipoAlerta.Danger, $(this), function () {
                        $('#form').submit();
                    });
            });
        });
    </script>
}
