@model CausaMorteViewModel;
@using PlataformaWeb.WebApp.Extensions

@{ ViewData["Title"] = "Cadastrar Nova Causa"; }

<form id="form" asp-action="Create" enctype="multipart/form-data" novalidate>
    <div class="row align-items-center justify-content-center">
        <div class="col-xl-7 col-lg-10">
            <vc:summary></vc:summary>
        </div>
        <div class="col-xl-7 col-lg-10">
            <fieldset class="form h-100">
                <legend class="FundoDestaque">Dados da Causa</legend>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label asp-for="Nome" class="control-label"></label>
                        <input autofocus asp-for="Nome" class="form-control" required />
                    </div>                    
                </div>                
            </fieldset>
        </div>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Salvar</button>
        <a asp-action="Index" class="btn btn-info"><i class="fa fa-times"></i>&nbsp;Voltar</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#form').SubmitForm();
        });
    </script>
}
