@model UsuarioClienteViewModel;
@using PlataformaWeb.WebApp.Extensions

@{ ViewData["Title"] = "Confirma Exclusão?"; }

<form id="form" asp-action="Delete" enctype="multipart/form-data" novalidate>
    <div class="row align-items-center justify-content-center">
        <div class="col-12">
            <vc:summary></vc:summary>
        </div>
        <div class="col-xl-6 col-lg-12">
            <fieldset class="form h-100">
                <legend class="FundoDestaque">Dados Pessoais</legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required type="email" readonly />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Usuario" class="control-label"></label>
                        <input asp-for="Usuario" class="form-control" required readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control telefone" readonly />
                    </div>
                </div>               
            </fieldset>
        </div>
    </div>
    <div class="text-center mt-3">
        <button autofocus type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Excluir</button>
        <a asp-action="Index" class="btn btn-info"><i class="fa fa-times"></i>&nbsp;Voltar</a>
    </div>
</form>